@Html.Partial("head.cshtml")
<div class="container">
  <h1>Resturants by cuisine type</h1>
  <hr />
  <h4><a href="/cuisines">View Cuisines</a></h4>
  <h4><a href="/resturants">View Resturants</a></h4>
</div>
